<%- include('../include/header.ejs') %>

        <div class="container">
            <h2><a href="/home/home"><img style="width: 35px;" src="https://cdn-icons-png.flaticon.com/512/25/25694.png"></a> Thêm sản phẩm</h2>

            <form action="" method="post" enctype="multipart/form-data">
                <form class="px-4 py-3">
                    <select name="theloai" class="form-select">
                        <% list_TL.forEach( row => {  %>

                            <option value="<%= row._id %>"> <%= row.name %></option>

                        <% } )  %>
                    </select>
                    <br>
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Ảnh sản phẩm</label>
                        <input class="form-control" type="file" name="file_anh" id="formFileMultiple" multiple>
                    </div>
                    <label class="form-label">Tên sản phẩm</label>
                        <input type="text" name="name"  class="form-control"><br>
                    <label class="form-label">Giá sản phẩm</label>
                        <input type="number" name="price"  class="form-control"><br>
                    <label class="form-label">Chi tiết sản phẩm</label>    
                        <input type="text" name="noidung"  class="form-control"><br>

                    <button class="btn btn-danger" type="submit">Lưu</button>
                    <%= msg%>
                </form>
            </form>
            
        </div>

<%- include('../include/footer.ejs') %>